.wooa-admin-input-container{

  margin-top: 30px;
  padding-left: 10px;

  .wooa-admin-input-label{

    display: block;
    margin-bottom: 10px;
    font-weight: bold;

  }

  .wooa-admin-input{

    &.wooa-admin-input-text {
      border-radius: 20 !important;
      min-width: 300px;
      height: 39px;
    }

    &.wooa-admin-input-textarea {
      border-radius: 10px !important;
      min-width: 300px;
      height: 200px;
    }

    &.wooa-admin-input-select {
      min-width: 250px;
      height: 40px;
      margin-bottom: 30px;
    }

  }


}